extends ../layout

block content
	section
		header.jumbotron.subhead
			h1= title
			p.lead.
				Ranked from lowest percent defaulting to highest, click a state to view its schools individually. 
				Notice there are some special exceptions, such as <a href="/state/zz/">International</a> schools, and territories such as 
				<a href="/state/AS/">American Samoa</a>, <a href="/state/PW/">Palau</a>, and <a href="/state/gu">Guam</a>.

	ol#states
		each state, i in data
			li
				-var rate = state.DRATE_1.toFixed(2);
				a(href="/state/#{i}/") #{state.ST_DESC} #{rate}%