div.navbar.navbar-fixed-top
	div.navbar-inner
		div.container
			a.brand(href="/") National Student Loan Cohort Default Rate
			ul.nav
				li
					a(href="/state/") View By State
				//li
					//a(href="/zip/") View by Zip Code
