!!! 5
html(lang="en")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/d3.v2.js")
	body
		include header.jade
		div.container
			block content